<!DOCTYPE html>
<html>

<head>
    <title>Discover</title>
    <link href="discover.css" rel="stylesheet" type="text/css" />
</head>

<body style="overflow: hidden;background-image: url(http://www.setster.com/blog/wp-content/uploads/concert-audience-stock1214.jpg)">
    <!--<iframe style="top:0;left: 0;width:100%;height:100%;position:fixed;border:none" src="https://www.youtube.com/embed/{{lnk}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    {{>headbar}}
    <div style="position: absolute;left: 0px;top: 11%;right:0px;margin:auto;width: 85%;height: 90%;">
        {{#each data}} {{#if this.display}}
        <div class="sblock">
            <iframe style="top:0;left: 0;width:100%;height:100%;border:none" src="https://www.youtube.com/embed/{{this.lnk}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        {{/if}} {{/each}}
    </div>
</body>

</html>