<!DOCTYPE html>
<html>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<head>
    <title>Discover</title>
    <link href="discover.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/jpg" href="https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg" />
</head>
<body style="overflow: hidden;background-image: url(http://www.setster.com/blog/wp-content/uploads/concert-audience-stock1214.jpg);
height: 100%;width: 100%; margin: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; position: fixed; background-size: cover;">
    {{>headbar}}
    <div style="position: absolute;left: 0px;right:0px;margin:auto;width: 85%;height: 90%;">
        {{#each data}} {{#if this.display}}
        <div class="sblock">
            <iframe style="top:0;left: 0;width:100%;height:100%;border:none" src="https://www.youtube.com/embed/{{this.lnk}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        {{/if}} {{/each}}
    </div>
</body>
<script type="text/javascript">
    swal({text:'Please wait..', buttons:false, timer:3000, icon:'icon.gif'})
</script>

</html>