<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Music_Project_Title</title>
    <link rel="stylesheet" type="text/css" href="..\\rating_music.css">
</head>

<body>
    {{>headbar}}
</body>

</html>