<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Music_Project_Title</title>
    <link rel="stylesheet" type="text/css" href="..\\rating_music.css">
</head>

<body>
    <div id="bg_index" style="position:absolute;left:0;top:0;width:100vw;height:100vh;background-image:url(https://www.movilzona.es/app/uploads/2017/05/fondos-google.jpg);background-size:cover;background-repeat:no-repeat;"></div>
    {{>headbar}}
    <button type="button">I don't know what to put on button</button>
</body>

</html>