<!DOCTYPE html>
<html>
    <head>
        <title>Popup Login</title>
        <link href ="login.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div id="main">
        <div id= "loginContainer">
            <button id="closeButton"></button>
            <div id="loginInputs">
               <form action='/login'  method='post' name='login'>
                    <input type="email" id="signInEmail" name="email" placeholder="Email Address" class="signInCredentials"/>
                    <input type="password" id="signInPassword" name="pw" placeholder="Password"class="signInCredentials" />
                    <button id="logInButton" type="submit">LOG IN</button>
                    <div id="orSeparator">- or -</div>
                </form>
                <form action = '/signup' method="get" name="regie">
                    <button id="signUpButton" type="submit">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
    
    
    
    
    <script></script>
    </body>
</html>