<!DOCTYPE html>
<html>
    <head>
        <title>Popup Login</title>
        <link href ="login.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div id="main">
        <div id= "loginContainer">
            <button id="closeButton"></button>
            <div id="loginInputs">
                <input type="email" id="signInEmail" placeholder="Email Address" class="signInCredentials"/>
                <input type="password" id="signInPassword" placeholder="Password"class="signInCredentials" />
                <button id="logInButton" type="submit">LOG IN</button>
                <div id="orSeparator">- or -</div>
                <button id="signUpButton" type="submit">SIGN UP</button>
            
            </div>
        </div>
    </div>
    
    
    
    
    <script></script>
    </body>
</html>