<!DOCTYPE html>
<html>
<head>
    <title>My Playlist</title>
    <link href="playlist.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/jpg" href="https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	{{>headbar}}
    <div id="bg"></div>
    <div id="title">My Playlist</div>
    <div class="container-fluid">
        <div class="row">
            <div id="playlist" class="col-sm-5 col-sm-pull-6">
                <div class="songdiv">Song Name {{vid}}</div>
                <div class="songdiv">Song Name {{name}}</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
                <div class="songdiv">Song Name</div>
            </div>
        </div>
    </div>
</body>
</html>