<!DOCTYPE html>
<html>
    <head>
        <title>Project Theme</title>
        <link href="project.css" type="text/css" rel="stylesheet"/>
    </head>
    
    <body>
        <div id="bg">
            <div id="title">My Playlists</div>
            <div id="display">
                <div id="playlist1contents">
                    Workout Music Playlist
                </div>
                
                <div class="playlist" id="playlist1">
                    <img id="img1" src=http://isaiaruvy.com/uploads/songs/default.png height=200px width=200px/> 
                    <div id="playlistName">Workout Music Playlist</div>
                </div>

                <div class="playlist" id="playlist2">
                    <img id="img1" src=http://isaiaruvy.com/uploads/songs/default.png height=200px width=200px/> 
                    <div id="playlistName">Driving Music Playlist</div>
                </div>
            </div>
        </div>
        <script src="project.js"></script>
    </body>

</html>