<!DOCTYPE html>
<html>
<head>
    <title>Project Theme</title>
    <link href="project.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div id="bg"></div>
    <div id="title">
        My Playlists
        <button id="addbutton">+♪</button>
    </div>
    <div id="display">
        <div id="playlistcontent"></div>
        {{> newplaylist }}
    </div>
    <script>
        function addDetailEvent(index) {
            const element = document.getElementsByClassName("playlist")[index];
            element.addEventListener("mouseover", function () {
                element.style.filter = "brightness(80%)";
            });
            element.addEventListener("mouseout", function () {
                element.style.filter = "brightness(100%)";
            });
            element.addEventListener("click", function () {
                if (playlistcontent.style.left != "") {
                    element.style.boxShadow = "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
                    playlistcontent.style.cssText = "";
                    playlistcontent.innerHTML = "";
                } else {
                    element.style.boxShadow = "0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19)";
                    playlistcontent.style.left = (13 * index + 13.0).toString() + "%";
                    playlistcontent.style.height = "60%";
                    playlistcontent.style.width = "30%";
                    playlistcontent.style.display = "block";
                    playlistcontent.style.transition = "1s";
                    playlistcontent.innerHTML = element.children[1].innerHTML;
                }
            });
        }
        var bg = document.getElementById("bg"),
            display = document.getElementById("display"),
            playlistcontent = document.getElementById("playlistcontent"),
            addbutton = document.getElementById("addbutton");
        for (let index = 0; index < document.getElementsByClassName("playlist").length; index++) {
            addDetailEvent(index);
        }
        addbutton.addEventListener("click", function () {
            var newplaylist = document.createElement("div");
            newplaylist.innerHTML = String.raw`{{>newplaylist}}`;
            display.appendChild(newplaylist.firstChild);
            addDetailEvent(document.getElementsByClassName("playlist").length - 1);
        });
    </script>
</body>
</html>