<!DOCTYPE html>
<html>

<head>
    <title>Ranking Page</title>
    <link href="ranking.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/jpg" href="https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg"/>
</head>

<body>
    <div id="bgImage"></div>
    <div id="main">
        {{>headbar}}
        <div id="banner">
            <div id="musicWorldImage"></div>
            <div id="bannerTitle">Music World Top 10</div>

        </div>
        <div id="player">
            <iframe id="youtubeVideo" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="rankedContent">
            <div id="r1" class="rc">
                <div id="pi1" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn1" class="rankNum">1</div>
                <div id="ri1" class="rankImage" style="background-image:url(https://tse1.mm.bing.net/th?id=OIP.mT1Y7HZhc0fd_EnRmyjp0QHaHa&pid=Api); background-size:100% 100%;"></div>
                <div id="st1" class="songTitle">Body</div>
                <!-- <div id="sa1" class="songArtist">Loud Luxury Feat. Brando</div> -->
            </div>
            <div id="r2" class="rc">
                <div id="pi2" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn2" class="rankNum">2</div>
                <div id="ri2" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t404299032-b1337765670_s400.jpg); background-size:100% 100%;"></div>
                <div id="st2" class="songTitle">Zombie</div>
                <!-- <div id="sa2" class="songArtist">Bad Wolves</div> -->
            </div>
            <div id="r3" class="rc">
                <div id="pi3" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn3" class="rankNum">3</div>
                <div id="ri3" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t413172299-b1369422581_s400.jpg); background-size:100% 100%;"></div>
                <div id="st3" class="songTitle">Nice For What</div>
                <!-- <div id="sa3" class="songArtist">Drake</div> -->
            </div>
            <div id="r4" class="rc">
                <div id="pi4" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn4" class="rankNum">4</div>
                <div id="ri4" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t380753084-b1300750401_s400.jpg); background-size:100% 100%;"></div>
                <div id="st4" class="songTitle">Not A Love Song</div>
                <!-- <div id="sa4" class="songArtist">Bulow</div> -->
            </div>
            <div id="r5" class="rc">
                <div id="pi5" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn5" class="rankNum">5</div>
                <div id="ri5" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t369605870-b1251713725_s400.jpg); background-size:100% 100%;"></div>
                <div id="st5" class="songTitle">Meant To Be</div>
                <!-- <div id="sa5" class="songArtist">Bebe Rexha Feat. Florida Georgia Line</div> -->
            </div>
            <div id="r6" class="rc">
                <div id="pi6" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn6" class="rankNum">6</div>
                <div id="ri6" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t407729682-b1373517312_s400.jpg); background-size:100% 100%;"></div>
                <div id="st6" class="songTitle">Psycho</div>
                <!-- <div id="sa6" class="songArtist">Post Malone Feat. Ty Dolla $ign</div> -->
            </div>
            <div id="r7" class="rc">
                <div id="pi7" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn7" class="rankNum">7</div>
                <div id="ri7" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t355460277-b1349124529_s400.jpg); background-size:100% 100%;"></div>
                <div id="st7" class="songTitle">Whatever It Takes</div>
                <!-- <div id="sa7" class="songArtist">Imagine Dragons</div> -->
            </div>
            <div id="r8" class="rc">
                <div id="pi8" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn8" class="rankNum">8</div>
                <div id="ri8" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t385118726-b1321217021_s400.jpg); background-size:100% 100%;"></div>
                <div id="st8" class="songTitle">Never Be The Same</div>
                <!-- <div id="sa8" class="songArtist">Camila Cabello</div> -->
            </div>
            <div id="r9" class="rc">
                <div id="pi9" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn9" class="rankNum">9</div>
                <div id="ri9" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t408829716-b1353168211_s400.jpg); background-size:100% 100%;"></div>
                <div id="st9" class="songTitle">X</div>
                <!-- <div id="sa9" class="songArtist">Nicky Jam & J Balvin</div> -->
            </div>
            <div id="r10" class="rc">
                <div id="pi10" class="playImage" style="background-image:url(https://cdn0.iconfinder.com/data/icons/arrows-37/502/Untitled-5-512.png); background-size:100% 100%;"></div>
                <div id="rn10" class="rankNum">10</div>
                <div id="ri10" class="rankImage" style="background-image:url(https://images.shazam.com/coverart/t407922423-b1350060041_s400.jpg); background-size:100% 100%;"></div>
                <div id="st10" class="songTitle">Batshit</div>
                <!-- <div id="sa10" class="songArtist">Sofi Tukker</div> -->
            </div>
        </div>
    </div>
    <script>
        var tlist = ["IetIg7y5k3A",
            "9XaS93WMRQQ",
            "U9BwWKXjVaI",
            "OsrylSTDvAw",
            "zDo0H8Fm7d0",
            "au2n7VVGv_c",
            "gOsM-DYAEhY",
            "Ph54wQG8ynk",
            "_I_D_8Z4sJE",
            "VDndE432GpU"];
        for (let i = 0; i < 10; i++) {
            let sss = (i + 1).toString();
            document.getElementById("r" + sss).addEventListener("mouseover", function () {
                document.getElementById("r" + sss).style.cursor = "pointer";
                document.getElementById("pi" + sss).style.top = (30 + 101 * i).toString() + "px";
                document.getElementById("pi" + sss).style.left = "10px";
            });

            document.getElementById("r" + sss).addEventListener("mouseout", function () {
                document.getElementById("r" + sss).style.cursor = "pointer";
                document.getElementById("pi" + sss).style.left = "-50px";
            });
            document.getElementById("r" + sss).addEventListener("click", function () {
                player.style.display = "block";
                youtubeVideo.src = "https://www.youtube.com/embed/" + tlist[i] + "?autoplay=1";
            });
        }

    var x = document.getElementsByClassName("rc");
    console.log(x);
    for(i=0; i < x.length; i++){
        x[i].addEventListener("click", function(){
        document.getElementById("bgImage").style.zIndex = "3";
    });

    }
    

    document.getElementById("bgImage").addEventListener("click", function(){
        document.getElementById("player").style.display = "none";
        document.getElementById("bgImage").style.zIndex = "initial";
    });
    document.getElementById("musicWorldImage").addEventListener("click", function(){
        document.getElementById("bgImage").style.zIndex = "3";
        document.getElementById("player").style.display = "block";
    });
    </script>
</body>

</html>