<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="rating_music.css">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <h1 id="title">{{title}}</h1>
    <form method="POST" action="/rating">
        <input type="text" name="song">
        <input type="submit" value="OK">
    </div>
    </form>
</body>
</html>