<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <link href="searchpage.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div id="bg"></div>
    <form method="POST" action="/rating"><input type="text" id="searchbar" name="song" placeholder="Search music world" /></form>
    {{>headbar}}
</body>
</html>