<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link href ="signup.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div id="main">
        <div id="signupContainer">
            <button id="closeButton" onclick="location.href = '/login'";></button>
            <div id="signupInputs">
                <form action = "/signup" method='post' name="singup">
                    <input type="text" id="firstName" name="fname" placeholder="First Name"/ class="signupDivs">
                    <input type="text" id="lastName" name="lname"placeholder="Last Name" class="signupDivs"/>
                    <input type="email" id="email" name="email" placeholder="Email" class="signupDivs"/>
                    <input type="password" id="password" name="pass" placeholder="Password" class="signupDivs"/>
                    <div id="disclosure" class="signupDivs">By clicking Sign Up, you agree to MusicP's User Agreement, Privacy Policy, and Cookie Policy</div>
                    <button id="signUpButton" type="submit" class="signupDivs">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
    <script></script>
    </body>
</html>