<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link href="signup.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/jpg" href="https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg"/>
</head>

<body>
    <div id="main">
        <div id="signupContainer">
            <div id="mwLogo"></div>
            <div id="mwTitle">Music World</div>
            <button id="closeButton"  onclick="location.href = '/login'"></button>
            <div id="signupInputs">
                <form action='/signup' method="post" name="reggie">
                    <input type="text" id="firstName" name="fname" placeholder="First Name" class="signupDivs">
                    <input type="text" id="lastName" name="lname" placeholder="Last Name" class="signupDivs">
                    <input type="email" id="email" name="email" placeholder="Email" class="signupDivs">
                    <input type="password" id="password" name="pass" placeholder="Password" class="signupDivs">
                    <div id="disclosure" class="signupDivs">By clicking Sign Up, you agree to Music World's User Agreement, Privacy Policy, and Cookie Policy</div>
                    <button id="signUpButton" type="submit" class="signupDivs">SIGN UP</button>
                </form>
                <div id="orSeparator" class="signupDivs">- or -</div>
                <form action='/login' method="get" name="login">
                    <button id="logInButton" type="submit" class="signupDivs">LOG IN</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    //styling
    closeButton.addEventListener("mouseover", function() {
        closeButton.style.cursor = "pointer";
        closeButton.style.backgroundColor = "rgba(19, 12, 2, 1)";
    });
    closeButton.addEventListener("mouseout", function() {
        closeButton.style.backgroundColor = "rgba(133,139,255,0)";

    });
    logInButton.addEventListener("mouseover", function() {
        logInButton.style.cursor = "pointer";
        logInButton.style.backgroundColor = "rgba(17,15, 40, 1)";
    });

    logInButton.addEventListener("mouseout", function() {
        logInButton.style.backgroundColor = "rgba(17,15,40,0.5)";
    });

    signUpButton.addEventListener("mouseover", function() {
        signUpButton.style.cursor = "pointer";
        signUpButton.style.backgroundColor = "rgba(255,0,0,1)";
    });

    signUpButton.addEventListener("mouseout", function() {
        signUpButton.style.backgroundColor = "rgba(255,0,0,0.5)";
    });
    </script>
</body>

</html>