#headbar_icon {
    position: relative;
    background-image: url(https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg);
    width: 64px;
    height: 64px;
    top: -40%;
    display: inline-block;
    cursor: pointer;
    animation: rotation 2s infinite linear;
    border-radius: 50%;
    animation-play-state: paused;
    color:black;
    z-index:1000;
}

#headbar_icon:hover {
    animation-play-state: running;
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.navbar-default{
    min-height:80px;
}
.navbar-header{
    min-height:80px;
}
#headbar_text{
    position:relative;
    display:inline-block;
    bottom:30px;
    padding-left: 10px;
    font-size:23px;
}
.navbar-nav{
    position:relative;
    top:15px;
    font-size:23px;
}
.navbar-nav:focus {
    position:relative;
    top:15px;
    font-size:40px;
}

#myNavbar{
    height:250px;
}
.navbar {
    margin-bottom:5px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size:60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn{
    height:60px;
    width:60px;
    border-radius:60px;
    border:none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.ProfilePicture{
    background-size:100% 100%;
    background-position:center;
}
#changepic{
    height:40vh;
    width:30vw;
}