#bg{
    background-color:rgb(0,40,50);
    height:100vh;
    width:100vw;
    background-image: url(https://www.movilzona.es/app/uploads/2017/05/fondos-google.jpg);
    margin:-20px;
}
#title{
    position:absolute;
    width:95vw;
    top:40px;
    right:0px;
    font-size:12pt;
    font-family: sans-serif;
    color:white;
    font-weight:550;
}
#display{
    position:absolute;
    bottom:0px;
    right:0px;
    height:85vh;
    width:95vw;
    font-family: sans-serif;
    
}
#playlist1{
    position:relative;
    margin-right:10px;
    height:250px;
    width:200px;
    display:inline-grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
    
}
#playlist2{
    position:relative;
    margin-right:10px;
    height:250px;
    width:200px;
    display:inline-grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
}
#playlistName{
    position:relative;
    background-color:white;
    height:35px;
    width:180px;
    top:-5px; 
    padding:10px;
}

#playlist1contents{
    display:block;
    height:0px;
    width:0px;
    background-color:white;
    transition:1s;
    Position:absolute;
}