.searches{
    height:15vh;
    width:50vw;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:60px;
    position:relative;
    vertical-align:center;
    left:5px;
    margin:5px;
}
.thumbnailtitle{
    position:absolute;
    color:black;
    word-break: normal;
    font-size: 100%;
    font-weight: bold;
    top:30%;
    /*display:inline-block;*/
}

.thumbnails{
    position:relative;
    top:0px;
    display:inline-block;
    padding:5px;
    height:100%;
    width:auto;
}

.thumbnails:hover, .searches:hover{
    filter:brightness(80%);
}
