<header>
	<a href="https://morning-stream-38281.herokuapp.com/">{{home}}</a>
	<a href="https://morning-stream-38281.herokuapp.com/info">{{info}}</a>
	<a href="https://morning-stream-38281.herokuapp.com/weather">{{weather}}</a>
</header>