<link rel="stylesheet" type="text/css" href="..\\headbar.css">
<div id="headbar">
    <div style="left:0px;width:15vw;" class="ib"></div>
    <div id="headbar_icon"></div>
    <div class="headbar_item"><a id="headbar_title" href="index" style="color:white">Music_Project_Name</a> | <a href="ranking.html" style="color:white">Discover</a> | <a href="playlist" style="color:white">Playlist</a></div>
    <form method="POST" action="/rating">
        <input id="search_input" type="text" name="song" placeholder="Enter keyword of what you want" />
    </form>
    <button id="headbar_login" style="display:inline-block;height:40px;border-radius:15px;right:2%;position:absolute;top:23px;border:none;background-color:royalblue;" onclick="location.href = 'login';">Log in or Sign in</button>
    <div id="search_result"></div>
    <script type="text/javascript">
    function TestFunction() { console.log("You can run JavaScript here."); } TestFunction();
    </script>
</div>