#headbar_icon {
    position: absolute;
    background-image: url(https://i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg);
    width: 64px;
    height: 64px;
    top: 8px;
    display: inline-block;
    cursor: pointer;
    animation: rotation 2s infinite linear;
    border-radius: 50%;
    animation-play-state: paused;
    color:black;
    z-index:1000;
}
#headbar_icon:hover {
    animation-play-state: running;
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}