<div class="playlist">
    <img class="playlisticon" src="http://isaiaruvy.com/uploads/songs/default.png"/>
    <div class="playlistName"><input class="textfield" type="text" value="New Playlist"/></div>
</div>