<div class="playlist">
    <img id="img1" src=http://isaiaruvy.com/uploads/songs/default.png height=200px width=200px />
    <div class="playlistName"><input class="textfield" type="text" value="New Playlist" /></div>
</div>