<link rel="stylesheet" type="text/css" href="searchresults.css">   
<div class="searches">
        <img class="thumbnails" src="{{data.thumbnail}}" />
        <div class="thumbnailtitle">{{data.title}}</div>
</div>