<link rel="stylesheet" type="text/css" href="searchresults.css">   
<div class="searches">
        <img class="thumbnails" src="{{thumbnail}}" />
        <div class="thumbnailtitle">{{title}}</div>
</div>